* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* elimina qualquer tipo de estilo padrão 
  que o navegador possa vir a aplicar na estilização */

body {
    display: flex;
    justify-content: center;
    align-items: center;
  /*  background-color: hsla(0, 0%, 100%, 0.4); */
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    width: 35rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /*box-shadow: 16px 19px 26px -19px rgba(48,59,90,0.92);*/
    box-shadow: 14px 10px 26px 12px rgba(48,59,90,0.21);
    border-radius: 1rem;
}

/* Início da estilização do Result */

.result {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.4rem 2rem 2rem;
    gap: 1.4rem;
    width: 50%;
}

h4 { 
    color: hsla(0, 0%, 100%, 0.6);
}

.ball {
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;    
}

.score {
    font-size: 45px;
}

.secondaryscore {
    color:hsla(0, 0%, 100%, 0.3);
    font-weight: 500;
}

.footerresult {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

h2 {
    color: white;
}

.text {
    color: hsla(0, 0%, 100%, 0.7);  
}


/* Fim da estilização do Result */

/* Início da estilização do Summary */
.summary {
    background-color: hsl(0, 0%, 100%);
    padding: 1.4rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    gap: 1.4rem;
}

.summary h4 {
    color: hsl(224, 30%, 27%);
}

.subcards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.reaction, .memory, .verbal, .visual {
    display: flex;
    justify-content: space-between;
    border-radius: 0.4rem;
    padding: 0.6rem;
}

.reactiontext, .memorytext, .verbaltext, .visualtext {
    display: flex;
    gap: 0.4rem;
    font-weight: 500;
}

.firstnumber {
    color: hsl(224, 30%, 27%);
}

.secondarynumber {
    color: hsla(224, 30%, 27%, 0.5);
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);

}
.reactiontext {
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
}

.memorytext {
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.verbaltext {
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.visualtext {
    color: hsl(234, 85%, 45%);
}

button {
    padding: 0.7rem;
    border-radius: 2rem;
    background-color: hsl(224, 30%, 27%);
    border: 0;
    color: hsla(0, 0%, 100%, 1);
}

button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
/* fim da estilização do Summary */

.attribution {
    position: absolute;
    bottom: 0;
}

/* Estilização para Mobile até 599px */

@media screen and (max-width: 599px) {
    body {
        height: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        border-radius: 0px;
    }
    .result, .summary {
        width: 100%;
    }
    .result {
        border-radius: 0px 0rem 1rem 1rem;
    }
}